* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root,
#root div {
  min-width: 100vw;
  min-height: 100vh;
}

.controls {
  display: flex;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls * {
  width: fit-content;
  height: fit-content;
  min-width: unset !important;
  min-height: unset !important;
  pointer-events: all;
}

.controls .acelerator {
  transform: rotateZ(270deg);
  position: absolute;
  bottom: 100px;
  left: -40px;
}

.aceleration_value {
  font-weight: bold;
  color: white;
}